body {
    display: grid;
    grid-template: 1fr 1fr 3fr 1fr / 1fr 1fr 1fr 1fr;
    background-color: lightgray;
}

header {
    background-color:dimgray;
    padding: 3rem;
    grid-column: 1/5;
    color:azure;
    text-align: start;
}

.navigation-bar {
    grid-column: 1/5;
    background-color:black;
    padding: 1rem;
    color:azure;
    text-align: justify; 
}

.navigation-bar ul {
    list-style-type: none;
    text-align: center;
    margin: auto;
}

.navigation-bar a {
    display: block;
    justify-content: space-between;
}

.navigation-bar li {
    float:left;
    padding: 2rem;
    text-align: center;
}

.body {
    grid-column: 1/4;
    text-align: left;
    padding: 2rem;
}

.right-sidebar {
    grid-column: 4/4;
    background-color: azure;
    padding: 2rem;
}

footer {
    background-color: dimgray;
    color:azure;
    grid-column: 1/5;
    padding: 2rem;
    text-align: center;
}